{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'menu_report_water_supply_coverage' %}{% endblock %}
{% block first_breadcrums %}
<li class="breadcrumb-item">{% trans 'menu_user' %}</li>
<li class="breadcrumb-item active" aria-current="page">{% trans 'menu_user_main_account' %}</li>
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans 'user_detail' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans 'reset_password' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
</div>
    <!-- /.col-md-4 -->
<div class="col-md-10">
    
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h2>{% trans 'user_detail' %}</h2>
      <div class="card" style="width: 100%;">
        <div class="card-body">
          {% if request.session.user %}
            <div class="form-group row">
              <label class="control-label col-md-2">{% trans 'username' %}:</label>
              <label class="col-md-4">{{ request.session.user.username }}</label>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-2">{% trans 'first_name' %}:</label>
              <label class="col-md-4">{{ request.session.user.first_name }}</label>
              <label class="control-label col-md-2">{% trans 'last_name' %}:</label>
              <label class="col-md-4">{{ request.session.user.last_name }}</label>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-2">{% trans 'label_role' %} :</label>
              {% if request.session.user.is_data_entry %}
                <label class="col-md-4">{% trans 'data_entry' %}</label>
                <label class="col-md-2 control-label">{% trans 'label_provincial_dataentry_province' %}</label>
                <label class="col-md-4"></label>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
      
    </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <h2>{% trans 'reset_password' %}</h2>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <form method="post" id="form_reset_password">
        {% csrf_token %}
        <input type="hidden" id="user_token" value="{{ request.session.token }}"/>
        <input type="hidden" id="action_type" value="" name="action_type"/>
        <div class="form-body">
            <div class="form-group row">
                <label class="col-md-4 control-label">{% trans 'old_password' %} <strong class="text-danger">*</strong>:</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="old_password" name="old_password" value="" required/>
                    {% if old_password_msgs %}
                      {% for msg in old_password_msgs %}
                        <span class="text-danger"><b>{{ msg }}</b></span>
                      {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 control-label">{% trans 'new_password' %} <strong class="text-danger">*</strong>:</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="new_password" name="new_password" value="" required/>
                    {% if password_msgs %}
                      {% for msg in password_msgs %}
                        <span class="text-danger"><b>{{ msg }}</b></span>
                      {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 control-label">{% trans 'new_password_1' %} <strong class="text-danger">*</strong>:</label>
              <div class="col-md-8">
                  <input type="password" class="form-control" id="new_password1" name="new_password1" value="" required/>
                  {% if password2_msgs %}
                      {% for msg in password2_msgs %}
                        <span class="text-danger"><b>{{ msg }}</b></span>
                      {% endfor %}
                    {% endif %}
              </div>
          </div>
  
        </div>
        <div class="form-actions">
            <button class="btn btn-outline-primary" type="button" id="btn_submit_reset_password"><i class="fa fa-save"></i> {% trans 'btn_reset' %}</button>
            
            <!-- <a href="javascript:history.back()" class="btn btn-outline-primary">{% trans 'btn_clear' %}</a> -->
        </div>
    </form>
    </div>
    
  </div>
    
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
  
  </div>
</div>
    </div>
    <!-- /.col-md-8 -->
  </div>
  
  
  
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function(){

        console.log('{{ response }}');
        console.log('{{ error_msg }}')

        $('#btn_submit_reset_password').click(function(){
            $('#action_type').val(2);



            $('#form_reset_password').submit();
        });
    });
</script>
{% endblock %}