<!-- templates/registration/login.html -->
{% comment %} {% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
{% endblock %} {% endcomment %}

<!doctype html>

{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <base href="../" />

    <title>Login - Ace Admin</title>

    <!-- include common vendor stylesheets & fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static '/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/node_modules/@fortawesome/fontawesome-free/css/regular.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/node_modules/@fortawesome/fontawesome-free/css/brands.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/node_modules/@fortawesome/fontawesome-free/css/solid.css' %}">



    <!-- include vendor stylesheets used in "Login" page. see "/views//pages/partials/page-login/@vendor-stylesheets.hbs" -->


    <!-- include fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/ace-font.css' %}">



    <!-- ace.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/ace.css' %}">


    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static '/assets/favicon.png' %}" />

    <!-- "Login" page styles, specific to this page for demo only -->
    <link rel="stylesheet" type="text/css" href="{% static 'views/pages/page-login/@page-style.css' %} ">
  </head>

  <body>
    <div class="body-container">

      <div class="main-container container bgc-transparent">

        <div class="main-content minh-100 justify-content-center">
          <div class="p-2 p-md-4">
            <div class="row" id="row-1">
              <div class="col-12 col-xl-10 offset-xl-1 bgc-white shadow radius-1 overflow-hidden">

                <div class="row" id="row-2">

                  <div id="id-col-intro" class="col-lg-5 d-none d-lg-flex border-r-1 brc-default-l3 px-0">
                    <!-- the left side section is carousel in this demo, to show some example variations -->

                    <div id="loginBgCarousel" class="carousel slide minw-100 h-100">
                      <ol class="d-none carousel-indicators">
                        <li data-target="#loginBgCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#loginBgCarousel" data-slide-to="1"></li>
                        <li data-target="#loginBgCarousel" data-slide-to="2"></li>
                        <li data-target="#loginBgCarousel" data-slide-to="3"></li>
                      </ol>

                      <div class="carousel-inner minw-100 h-100">
                        <div class="carousel-item active minw-100 h-100">
                          <!-- default carousel section that you see when you open login page -->
                          <div style="background-image: url(assets/image/login-bg-1.svg);" class="px-3 bgc-blue-l4 d-flex flex-column align-items-center justify-content-center">
                            <a class="mt-5 mb-2" href="html/dashboard.html">
                              <i class="fa fa-leaf text-success-m2 fa-3x"></i>
                            </a>

                            <h2 class="text-primary-d1">
                              MRD <span class="text-80 text-dark-l1">Application</span>
                            </h2>

                            <div class="mt-5 mx-4 text-dark-tp3">
                              <span class="text-120">
                           Join our community to make friends,<br /> meet experts &amp; receive exclusive offers!
                       </span>
                              <hr class="mb-1 brc-black-tp10" />
                            </div>

                            <div class="mt-auto mb-4 text-dark-tp2">
                              Bokor Technology &copy; 2022
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>


                  <div id="id-col-main" class="col-12 col-lg-7 py-lg-5 bgc-white px-0">
                    <!-- you can also use these tab links -->
                    <ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end bgc-black-tp11" role="tablist">
                      <li class="nav-item mx-2">
                        <a class="nav-link active px-2" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="id-tab-login" aria-selected="true">
                          Login
                        </a>
                      </li>
                      <li class="nav-item mx-2">
                        <a class="nav-link px-2" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="id-tab-signup" aria-selected="false">
                          Signup
                        </a>
                      </li>
                    </ul>


                    <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

                      <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
                        <!-- show this in desktop -->
                        <div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0">
                          <h4 class="text-dark-tp4 border-b-1 brc-secondary-l2 pb-1 text-130">
                            <i class="fa fa-coffee text-orange-m1 mr-1"></i>
                            Welcome Back
                          </h4>
                        </div>

                        <!-- show this in mobile device -->
                        <div class="d-lg-none text-secondary-m1 my-4 text-center">
                          <a href="html/dashboard.html">
                            <i class="fa fa-leaf text-success-m2 text-200 mb-4"></i>
                          </a>
                          <h1 class="text-170">
                            <span class="text-blue-d1">
                                Ace <span class="text-80 text-dark-tp3">Application</span>
                            </span>
                          </h1>

                          Welcome back
                        </div>


                        <form class="form-row mt-4" enctype="multipart/form-data" method="POST">
                          {% csrf_token %}
                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
                              <input placeholder="Username" type="text" class="form-control form-control-lg pr-4 shadow-none" id="id-login-username" name="username" />
                              <i class="fa fa-user text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 ml-n3" for="id-login-username">
                                Username
                              </label>
                            </div>
                          </div>


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-2 mt-md-1">
                            <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
                              <input placeholder="Password" type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-login-password" name="password"/>
                              <i class="fa fa-key text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 ml-n3" for="id-login-password">
                                Password
                              </label>
                            </div>
                          </div>

                          {{ forms.as_p }}

                          {% comment %} <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-right text-md-right mt-n2 mb-2">
                            <a href="#" class="text-primary-m1 text-95" data-toggle="tab" data-target="#id-tab-forgot">
                              Forgot Password?
                            </a>
                          </div> {% endcomment %}


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            {% comment %} <label class="d-inline-block mt-3 mb-0 text-dark-l1">
                              <input type="checkbox" class="mr-1" id="id-remember-me" />
                              Remember me
                            </label> {% endcomment %}

                            <button type="submit" class="btn btn-primary btn-block px-4 btn-bold mt-2 mb-4">
                              Sign In
                            </button>
                          </div>
                        </form>


                        
                      </div>


                    </div><!-- .tab-content -->
                  </div>

                </div><!-- /.row -->

              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="d-lg-none my-3 text-white-tp1 text-center">
              <i class="fa fa-leaf text-success-l3 mr-1 text-110"></i> Bokor Technology &copy; 2022
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- include common vendor scripts used in demo pages -->
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/umd/popper.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>


    <!-- include vendor scripts used in "Login" page. see "/views//pages/partials/page-login/@vendor-scripts.hbs" -->


    <!-- include ace.js -->
    <script src="{% static 'dist/js/ace.js' %}"></script>



    <!-- demo.js is only for Ace's demo and you shouldn't use it -->
    <script src="{% static 'app/browser/demo.js' %}"></script>



    <!-- "Login" page script to enable its demo functionality -->
    <script src="{% static 'views/pages/page-login/@page-script.js' %}"></script>
  </body>

</html>